

tr:hover{
    cursor: pointer !important;
}

.product-thumbnail{
    max-width: 100px !important;
}


strong.t-header {
    text-align: center;
    text-transform: capitalize !important;
    color: #333 !important;
}